<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CrossPurpose Classroom</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<nav>
			<div class="home">
				<% if (user) {%>
				<a href="/" class="nav-link">HOME</a>
				<% } %>
			</div>
			<a href="#" class="toggle-button">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</a>
			<div class="nav-links">
				<ul>
					<% if (classroom) { %>
					<li>
						<a href="/class/<%=classroom.id%>" class="nav-link">JOB PAGE</a>
					</li>
					<% if (user.permissions === 'admin' || user.permissions == 'owner')
					{%>
					<li>
						<a href="/class/<%=classroom.id%>/admin" class="nav-link">ADMIN</a>
					</li>
					<% } %> <% } %> <% if (!user) {%>
					<li><a href="/login" class="nav-link">LOGIN</a></li>
					<li><a href="/register" class="nav-link">REGISTER</a></li>
					<% } else { %>
					<li><a href="/profile" class="nav-link">PROFILE</a></li>
					<li><a href="/logout" class="nav-link">LOG OUT</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		<% if (success && success.length) {%>
		<div class="success flash" role="alert">
			<%= success %><button class="x">&#x2715;</button>
		</div>
		<% } %> <% if (error && error.length) {%>
		<div class="fail flash" role="alert">
			<%= error %><button class="x">&#x2715;</button>
		</div>
		<% } %>
		<main><%- body %></main>
		<script src="/javascript/main.js"></script>
	</body>
</html>
