<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/admin.css" />
<h1>Admin</h1>
<h2>Class Code: <%= classroom.classCode %></h2>
<h2>Leaders:</h2>
<ul class="leaderList">
	<% for (i=0;i < leaders.length; i++) {%>
	<li>
		<%= leaders[i].username %> <%= leaders[i].cpClass?leaders[i].cpClass:'' %>
		<form
			class="delete confirm"
			action="/class/<%= id %>/admin/leader/<%= leaders[i].id %>?_method=delete"
			method="post"
		>
			<button type="submit">Remove From Class</button>
		</form>
		<ul>
			<% for (job in interested[leaders[i].id]) { let inter =
			interested[leaders[i].id][job];%>
			<li>
				<%= inter.title %>
				<select class="interested-status" id="<%= inter.interestedId %>">
					<option value="new">New</option>
					<option value="followUp">Followed Up</option>
					<option value="nextSteps">Next Steps</option>
					<option value="badFit">Bad Fit</option>
				</select>
				<%if(inter.date <= 3){ %>
				<span class="pill">New</span>
				<% } %>
			</li>
			<% } %>
		</ul>
	</li>
	<% } %>
</ul>
<form action="/class/<%= id %>/admin/add-leader" method="post" class="add">
	<h3>Add Leader</h3>
	<div>
		<span
			><label for="password">Password</label
			><input type="text" id="password" name="password" minlength="8" required
		/></span>
		<span
			><label for="class">Class</label>
			<input type="text" id="class" name="cpClass" required
		/></span>
	</div>
	<div id="leaders"></div>
	<div>
		<button id="leader-btn-add" name="Leader">Add</button>
		<button id="leader-btn-remove">Remove</button>
	</div>
	<button type="submit">Submit</button>
</form>
<h2>Admin:</h2>
<ul class="adminList">
	<% for (i=0;i < admin.length; i++) {%>
	<li>
		<%= admin[i].username %> <% if (user.permissions === 'owner') {%>
		<form
			class="delete confirm"
			action="/class/<%= id %>/admin/admin/<%= admin[i].id %>?_method=delete"
			method="post"
		>
			<button type="submit">Remove From Class</button>
		</form>
		<% } %>
	</li>
	<% } %>
</ul>
<% if (user.permissions === 'owner') {%>
<form action="/class/<%= id %>/admin/add-admin" method="post" class="add">
	<h3>Add Admin</h3>
	<label for="username">Username</label>
	<input type="text" id="username" name="username" minlength="2" required />
	<button type="submit">Submit</button>
</form>
<% } %>
<script>
	const classId = '<%=classroom.id%>';
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/adminPanel.js"></script>
