<% layout('layouts/boilerplate') %>
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/jobs.css" />
<h1>New Job Listing</h1>
<div class="border-box">
	<form action="/class/<%= id %>/create" method="post" id="job-form">
		<div>
			<span>
				<label for="title">Job Title</label>
				<input
					type="text"
					id="title"
					name="jobTitle"
					minlength="2"
					maxlength="64"
					required
				/>
			</span>
		</div>
		<div>
			<span>
				<label for="company">Company</label>
				<input
					type="text"
					id="company"
					name="company"
					minlength="2"
					maxlength="64"
					required
				/>
			</span>
		</div>
		<div>
			<span>
				<label for="location">Location</label>
				<input
					type="text"
					id="location"
					name="location"
					maxlength="32"
					required
				/>
			</span>
		</div>
		<div>
			<h2 class="salary-title">Salary:</h2>
			<span>
				<label for="min">Min</label>
				<input
					type="number"
					id="min"
					name="salary[min]"
					min="0"
					step=".01"
					required
				/>
			</span>
			<span>
				<label for="max">Max</label>
				<input type="number" id="max" name="salary[max]" min="0" step=".01" />
			</span>
			<select name="salaryType" id="salaryType" required>
				<option value="Hourly">Hourly</option>
				<option value="Yearly">Yearly</option>
			</select>
		</div>
		<label>Description:</label>
		<div id="description"></div>
		<input
			type="text"
			name="description"
			class="hide"
			id="hiddenArea"
			aria-hidden="true"
		/>
		<div>
			<label for="career">Career Tracks:</label>
			<select multiple name="careerTracks" id="career" class="custom-select">
				<% for (let ct of classroom.validCareerTracks){%>
				<option value="<%= ct %>"><%= ct %></option>
				<% } %>
			</select>
		</div>
		<div>
			<label for="tags">Tags:</label>
			<select multiple name="tags" id="tags" class="custom-select">
				<% for (let tag of classroom.validTags){%>
				<option value="<%= tag %>"><%= tag %></option>
				<% } %>
			</select>
		</div>
		<div><button type="submit">Submit</button></div>
	</form>
</div>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="https://unpkg.com/quill-paste-smart@latest/dist/quill-paste-smart.js"></script>
<script src="/javascript/form.js"></script>
