<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/jobs.css" />
<h1>New Job Listing</h1>
<div>
	<form action="/class/<%= id %>/create" method="post">
		<div>
			<label for="title">Job Title</label>
			<input
				type="text"
				id="title"
				name="jobTitle"
				minlength="2"
				maxlength="64"
				required
			/>
		</div>
		<div>
			<label for="company">Company</label>
			<input
				type="text"
				id="company"
				name="company"
				minlength="2"
				maxlength="64"
				required
			/>
		</div>
		<div>
			<label for="salary">Salary</label>
			<input type="number" id="salary" name="salary" min="0" required />
			<select name="salaryType" id="salaryType" required>
				<option value="Hourly">Hourly</option>
				<option value="Yearly">Yearly</option>
			</select>
		</div>
		<label for="description">Description:</label>
		<div>
			<textarea
				name="description"
				id="description"
				cols="30"
				rows="10"
				required
			></textarea>
		</div>
		<div>
			<label for="career">Tags</label>
			<select multiple name="careerTracks" id="career" class="custom-select">
				<% for (let ct of classroom.validCareerTracks){%>
				<option value="<%= ct %>"><%= ct %></option>
				<% } %>
			</select>
		</div>
		<div>
			<label for="tags">Tags</label>
			<select multiple name="tags" id="tags" class="custom-select">
				<% for (let tag of classroom.validTags){%>
				<option value="<%= tag %>"><%= tag %></option>
				<% } %>
			</select>
		</div>
		<div><button type="submit">Submit</button></div>
	</form>
</div>
<script src="/javascript/form.js"></script>
