<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/jobs.css" />
<h1>Job Listings:</h1>

<a href="/class/<%= classroom.id %>/create" id="newJob">New Job</a>

<form id="filter-jobs">
	<span class="filter-option">
			<label for="title">Job Title</label>
			<input type="text" id="title" class="filter"/>
			</span><span class="filter-option">
			<label for="careerTrack">Career Track</label>
			<input type="text" id="careerTrack" class="filter"/>
			</span>
			<span class="filter-option">
			<label for="salary">Minimum pay</label>
			<input type="number" id="salary" min="0" class="filter"/>
			</span><span class="filter-option">
			<label for="salaryType">Salary Type</label>
			<select class="filter" id="salaryType">
				<option value="" selected></option>
				<option value="Hourly">Hourly</option>
				<option value="Yearly">Yearly</option>
			</select>
			</span class="filter-option">
			<div class="tag-box">
			<label for="filter-tags">Tags</label>
			<select multiple class="tags custom-select" id="filter-tags" class="custom-select">
				<option value="Core">Core</option>
				<option value="Alumni">Alumni</option>
				<option value="Temp">Temporary</option>
				<option value="Part Time">Part Time</option>
				<option value="Remote">Remote</option>
				<option value="Background Check">Background Check</option>
				<option value="Flexible Hours">Flexible Hours</option>
			</select>
			</div>
		<Button type="submit" class="btn" id="filter-btn">Filter</Button></form>
<% for (let i = 0; i < jobs.length; i++) {let job = jobs[i]; %>
<div class="job" id="<%= job.id %>">
	<h2 class="jobTitle"><%= job.jobTitle %></h2>
	<h3 class="company">Company: <%= job.company %></h3>
	<div class="careerTracks">
		<h4 class="careerTracksIntro">For:</h4>
		<div class="careerPills">
			<% for (let j = 0; j < job.careerTracks.length; j++) {%>
			<span class="pill"><%= job.careerTracks[j] %> </span><% } %>
		</div>
	</div>
	<div class="jobPayment">
		<span class="amount">$<%= job.salary %></span
		><span class="type"> <%=job.salaryType%></span>
	</div>
	<h4 class="descriptionIntro">Description:</h4>
	<p class="description"><%=job.description%></p>
	<div class="tags">
		<% for (let j = 0; j < job.tags.length; j++) {%>
		<span class="pill"><%=job.tags[j]%> </span>
		<% } %>
	</div>
	<div class="buttons">
		<button type="button" class="interestedBtn btn <%= job.userIsInterested ? 'inter' : 'not-inter' %>" jobId="<%=job.id%>">
			<%= job.userIsInterested ? 'Remove from Interested' : 'Add to Interested' %>
		</button>
		<a href="/class/<%= classroom.id %>/<%=job.id%>" class="btn">Edit</a>
		<form action="/class/<%=classroom.id%>/<%= job.id %>?_method=delete" method="post">
			<button type="submit" class="delete btn">Delete</button>
		</form>
	</div>
	<h4 class="interestedIntro">Interested:</h4>
	<% for (j=0; j<job.interested.length; j++) {%> 
		<div><span class="interested">Username: <%=job.interested[j].username%></span><span class="interested">Email: <%=job.interested[j].email%></span></div>
		<% } %> 
</div>
<% } %>
<script>
	const classId = '<%=classroom.id%>';
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/jobs.js"></script>
