<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/jobs.css" />
<h1>Job Listings:</h1>
	<% if (user.permissions === 'owner' || user.permissions === 'admin') {%>
<a href="/class/<%= classroom.id %>/create" id="newJob">New Job</a>
<% } %> 

<form id="filter-jobs">
	<span class="filter-option">
			<label for="title">Job Title</label>
			<input type="text" id="title" class="filter"/>
			</span>
			<span class="filter-option">
			<label for="salary">Minimum Pay</label>
			<input type="number" id="salary" min="0" class="filter" step=".01"/>
			</span><span class="filter-option">
			<label for="salaryType">Salary Type</label>
			<select class="filter" id="salaryType">
				<option value="" selected></option>
				<option value="Hourly">Hourly</option>
				<option value="Yearly">Yearly</option>
			</select>
			<span class="filter-option">
				<label for="new">New</label>
				<input type="checkbox" id="new" name="new" class="check">
			</span>
			<% if (user.permissions !== 'leader') {%> 
			<span class="filter-option">
				<label for="show-archive">Archive</label>
				<input type="checkbox" id="show-archive" name="show-archive" class="check">
			</span>
			<span class="filter-option">
				<label for="new-interested">New Interested</label>
				<input type="checkbox" id="new-interested" name="new-interested" class="check">
			</span>
			<% } %> 
			</span class="filter-option">
			<div class="tag-box">
			<label for="filter-career-track">Career Tracks</label>
			<select multiple class="tags custom-select" id="filter-career-track" class="custom-select">
				<% for (let ct of classroom.validCareerTracks){%>
				<option value="<%= ct %>"><%= ct %></option>
				<% } %>
			</select>
			</div>
			<div class="tag-box">
			<label for="filter-tags">Tags</label>
			<select multiple class="tags custom-select" id="filter-tags" class="custom-select">
				<% for (let tag of classroom.validTags){%>
				<option value="<%= tag %>"><%= tag %></option>
				<% } %>
			</select>
			</div>
		<Button type="submit" class="btn" id="filter-btn">Filter</Button></form>
<%for (let i = 0; i < jobs.length; i++) {let job = jobs[i]; %>
<div class="job" id="<%= job.id %>">
	<h2 class="jobTitle"><%= job.jobTitle %> <%if(job.createdDaysAgo < 3){ %>
				<span class="pill new">New</span>
				<% } %></h2>
	<h3 class="company">Company: <%= job.company %></h3>
	<div class="jobPayment">
		<span class="amount">$<%= job.salary %></span
		><span class="type"> <%=job.salaryType%></span>
	</div>
	<h4 class="descriptionIntro">Description:</h4>
	<p class="description"><%=job.description%></p>
	<% if (job.careerTracks.length) {%> 
	<div class="careerTracks">
		<h4 class="careerTracksIntro">For:</h4>
		<div class="careerPills">
			<% for (let j = 0; j < job.careerTracks.length; j++) {%>
			<span class="pill"><%= job.careerTracks[j] %> </span><% } %>
		</div>
	</div>
	<% } %> 
	<% if (job.tags.length) {%> 
	<h4 class="careerTracksIntro">Tags:</h4>
	<div class="tags">
		<% for (let j = 0; j < job.tags.length; j++) {%>
		<span class="pill"><%=job.tags[j]%> </span>
		<% } %>
	</div>
	<% } %> 
	<div class="buttons">
		<% if (user.permissions === 'leader') {%>
			<button type="button" class="interestedBtn btn <%= job.userIsInterested ? 'inter' : 'not-inter' %>" jobId="<%=job.id%>">
			<%= job.userIsInterested ? 'Remove from Interested' : 'Add to Interested' %>
		</button>
		<% } %> <% if (user.permissions === 'owner' || user.permissions === 'admin') {%>
		<a href="/class/<%= classroom.id %>/<%=job.id%>" class="btn">Edit</a>
		<% if (job.archive !== true) {%> 
		<form class="confirm-archive"action="/class/<%=classroom.id%>/<%= job.id %>?_method=delete" method="post">
			<button type="submit" class="btn">Archive</button>
		</form>
		<% } else {%>
		<form class="confirm-bring-back"action="/class/<%=classroom.id%>/<%= job.id %>/archive?_method=patch" method="post">
			<button type="submit" class="btn">Bring Back</button>
		</form>
		<% } %>  
		<% } %> 
</div>	<% if (user.permissions === 'owner' || user.permissions === 'admin') {%>
	<h4 class="interestedIntro">Interested:</h4>
	<% for (j=0; j<job.interested.length; j++) {let inter = job.interested[j];%> 
		<div class="interested"><span class="interested-field">Username: <%=inter.user.username%> <%=inter.cpClass?inter.cpClass:''%></span><span class="interested-field">Email: <%=inter.user.email%></span>
				<select class="interested-status" id="<%= String(inter._id) %>">
					<option value="new" <%=inter.status==='new'?'selected':''%>>New</option>
					<option value="followUp"<%=inter.status==='followUp'?'selected':''%>>Followed Up</option>
					<option value="nextSteps"<%=inter.status==='nextSteps'?'selected':''%>>Next Steps</option>
					<option value="badFit"<%=inter.status==='badFit'?'selected':''%>>Bad Fit</option>
				</select></div>
		<% } %> 
	<% } %> 
</div>
<% } %>
<script>
	const classId = '<%=classroom.id%>';
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/jobs.js"></script>
