<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/jobs.css" />
<h1>Job Listings:</h1>

<a href="/class/<%= classroom.id %>/create" id="newJob">New Job</a>

<% for (let i = 0; i < jobs.length; i++) {let job = jobs[i]; %>
<div class="job">
	<h2 class="jobTitle"><%= job.jobTitle %></h2>
	<h3 class="company">Company: <%= job.company %></h3>
	<div class="careerTracks">
		<h4 class="careerTracksIntro">For:</h4>
		<div class="careerPills">
			<% for (let j = 0; j < job.careerTracks.length; j++) {%>
			<span class="pill"><%= job.careerTracks[j] %> </span><% } %>
		</div>
	</div>
	<div class="jobPayment">
		<span class="amount">$<%= job.salary %></span
		><span class="type"> <%=job.salaryType%></span>
	</div>
	<h4 class="descriptionIntro">Description:</h4>
	<p class="description"><%=job.description%></p>
	<div class="tags">
		<% for (let j = 0; j < job.tags.length; j++) {%>
		<span class="pill"><%=job.tags[j]%> </span>
		<% } %>
	</div>
	<div class="buttons">
		<button type="button" class="interestedBtn <%= job.userIsInterested ? 'inter' : 'not-inter' %>" jobId="<%=job.id%>">
			<%= job.userIsInterested ? 'Remove from Interested' : 'Add to Interested' %>
		</button>
	</div>
	<h4 class="interestedIntro">Interested:</h4>
	<% for (j=0; j<job.interested.length; j++) {%> 
		<div><span class="interested">Username: <%=job.interested[j].username%></span><span class="interested">Email: <%=job.interested[j].email%></span></div>
		<% } %> 
</div>
<% } %>
<script>
	const classId = '<%=classroom.id%>';
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascript/jobs.js"></script>
