<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/profile.css" />
<form action="" method="post" class="confirm-update update-profile">
<h1><%= user.username %></h1>
<h2>Email: <%= user.email %></h2>
<h2>
    <label for="status">Role: </label>
	<select name="status" id="status">
		<option value="Leader" <%= user.status==='Leader'? 'selected':'' %>>Leader</option>
		<option value="Alumni" <%= user.status==='Alumni'? 'selected':'' %>>Alumni</option>
		<option value="Coach" <%= user.status==='Coach'? 'selected':'' %>>Coach</option>
    </select>
</h2>
<h2><div id="cpClass-box"><label for="cpClass">Class: </label><input type="text" id="cpClass" name="cpClass" value="<%= user.cpClass %>"></div></h2>    
<div>
<div class="save-or-reset">
<button type="submit">Save</button><button type="reset" id="reset">Reset</button>
</div>
<div class="borderBottom"></div>
</form>
<h3>Classrooms:</h3>
<ul>
<% for (i=0; i<user.classes.length; i++) {let classroom = user.classes[i]%>
    <li>
        <%= classroom.className %> 
        <form class="confirm-leave leave" action="/class/<%= classroom.id %>?_method=delete" method="post">
			<button type="submit">Leave</button>
		</form>
    </li>
<% } %> 
</ul>
</div>
<% if (user.adminReq.length) {%> 
<h2>Pending Admin Requests:</h2>
<ul>
	<% for (let classroom of user.adminReq) {%>
		<li><%= classroom.className %>
			<form action="/class/<%= classroom.id %>/admin-join" method="post" class="inline-form confirm-admin-join"><button type="submit" class="accept accept-deny">Accept</button></form>
			<form action="/class/<%= classroom.id %>/admin-deny" method="post" class="inline-form confirm-admin-join"><button type="submit" class="deny accept-deny">Deny</button></form></li>
	<%}%>
</ul>
<% } %> 
<script src="/javascript/cpCLass.js"></script>
<script src="/javascript/profile.js"></script>